
# Package-specific stuff

# Figure
snippet "fig" "figure" br
\begin{figure}[${1:bt}]
\centering
\includegraphics[width=.8\textwidth]{${2:filename}}
\caption{${3:Caption}}
\label{fig:${4:Label}}
\end{figure}
endsnippet


# Glossaries
snippet g "Glossary term singular"
\gls{${1}} 
endsnippet

snippet gp "Glossary term plural"
\glspl{${1}} 
endsnippet



